body {
    margin: 0;
	font-family: 'Varela', sans-serif;
	color: white;
	font-size: 12px;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src//assets/images/background_pup.png');
	background-repeat: no-repeat;
	background-size: auto;
}

.header {
    display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding-left: 15px;
	color: white;
	background: #d6610f;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    
    /* 	border: 1px solid red;
 */
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
}  

.header h1 {
    margin: 0;
}
.welcome__container p {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px;
    margin: 0;
    height: 50px;
}

.hotel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.hotel__Container {
    min-height: 600px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.hotel__Container--description {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-bottom: 30px;
}

.hotel__Container--img {
    margin: 0;
    width: 100%;   
    height: 190px;
    background-image: url("./aseets/hotel_1.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hotel__container--rating {
    padding-left: 6px;
}

.hotel__Container--description h1 {
    margin: 0px;
    padding-left: 6px;

}

.hotel__Container--description p1 {
    padding-left: 6px;
}

.share {
    width: 60px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.explore {
    width: 60px;
    height: 30px;
    margin: 0 5px;
    background-color: transparent;
    border: none;
}

.footer {
    margin: 0;
	padding: 20px;
	font-size: 1em;
	text-align: center;
	background: #d6610f;
	color: white;
}