.booking {
  display: grid;
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
  padding: 0px 30px;
  margin-top: 6em;
  /* min-height: calc(100vh - 20 */

  h1 {
    font-size: 2em;
    margin: 0;
  }
}

.booking__container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  width: 300px;
}

.booking__container--form {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
  }

  input {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 16px;
    height: 25px;
    margin-bottom: 20px;
    padding: 0px 15px;
  }

  button {
    padding: 0.67em;
    border-radius: 5px;
    color: white;
    background-color: #d6610f;
    font-size: 1.3em;
    margin-bottom: 0.67em;
  }
}

.check-in {
  margin: 0;
  display: flex;
}

.check-out {
  display: flex;
}
