.hotel__details__container {
	/* 	border: 1px solid blue;
 */
	display: grid;
	grid-template-columns: 1fr;
}

.hotel_address {
	/* 	border: 1px solid green;
 */
	padding: 2px 0 0 15px;
	font-size: 2em;
}
.hotel__description {
	/* 	border: 1px solid green;
 */
	margin: 0;
}

.hotel__subtitle {
	/* 	border: 1px solid green;
 */
	font-size: 2em;
	margin: 0;
	padding: 15px;
}

.hotel__description--description {
	/* border: 1px solid green; */
	margin: 0;
	padding: 2px 15px 0 15px;
	font-size: 1em;
}

.hotel__additional__services {
	/* 	border: 1px solid green;
 */
	margin: 0;
	font-size: 1em;
}

.hotel__social__media {
	/* 	border: 1px solid green;
 */
	display: grid;
	margin: 0;
	font-size: 1em;
}

.hotel__social__media--icons {
	/* 	border: 1px solid green;
 */
	margin: 0;
	font-size: 1em;
	text-align: center;
	padding: 20px;
}

.footer {
	/* 	border: 1px solid green;
 */
	margin: 0;
	padding: 20px;
	font-size: 1em;
	text-align: center;
	background: #d6610f;
	color: white;
}
