body {
    margin: 0;
    font-family: "Varela";
    background-color: #344357;
}

.header {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
    top: 0px;
 }

 .header__img {
    margin-top: 30px;
    margin-left: 30px;
    width: 90px;
  }

 h1 {
     margin-top: 0;
     color: #ED8637;
 }
.register {
    display: flex;
    align-items: center;
    flex-direction:  column;
    justify-content: center;
    min-height: calc(100vh - 200px);
    font-size: 40px;
}

.register__container {
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 60px 60px;
    min-height: 600px;
    width: 300px;
    background-color: #503B36;

}

.register__container--form {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 16px;
    height: 35px;
    color: black;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;

}

::placeholder {
    color: white;
}

.button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
    letter-spacing: 1px;
    margin: 10px 0px;
    background-color: #E7C6AA;
}

.check {
    height: 10px;
    width: 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    
}
 
.register__container a {
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.register__container a:hover {
    text-decoration: underline;
}

.footer {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.footer a {
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 60px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
}

.checkbox p {
    margin: 0 0 0 20px; 
    align-items: center;
    font-size: 14px;
}